<template>
  <q-page class="flex flex-center">
    <div class="column chat-container">
      <q-toolbar class="toolbar-header q-py-xs">
        <q-avatar size="45px">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Wiki-Paradise-Trinity-2.jpg"
          >
        </q-avatar>
        <q-toolbar-title>
          <q-item>
            <q-item-section>
              <q-item-label style="font-size: 16px;">HelperBot</q-item-label>
              <q-item-label caption>{{ botState }}</q-item-label>
            </q-item-section>
          </q-item>
        </q-toolbar-title>
      </q-toolbar>

      <q-scroll-area
        class="q-pt-sm"
        ref="scrollChat"
        :thumb-style="thumbStyle"
        :class="$q.platform.is.mobile ? 'chat-conversations-mobile' : 'chat-conversations'"
      >
        <div v-for="(chat) in chats" :key="chat.id" class="q-px-xl conversation">
          <q-chat-message
            v-if="chat.message"
            :text="chat.message"
            :bg-color="chat.agent !== 'user' ? 'green-3' : ''"
            :sent="chat.agent == 'user'"/>
          <q-chat-message v-else bg-color="green-3" text-color="white">
            <q-spinner-dots size="40"/>
          </q-chat-message>
        </div>
      </q-scroll-area>

      <q-input
        bg-color="white"
        outlined
        rounded
        text-sanitize
        :dense="$q.platform.is.mobile"
        v-model="text"
        placeholder="Escribe un mensaje"
        class="q-pa-md chat-input"
        v-on:keyup.enter="sendText()"
        :disable="inputIsDisable"
      >
        <template v-slot:append>
          <q-btn
            round
            dense
            flat
            color="grey-6"
            icon="contact_support"
            class="replays"
            :size="$q.platform.is.mobile ? '12px' : '17px'"
          >
            <q-badge
              ref="badge"
              color="orange"
              class="badge-replays"
              v-bind:class="{ invisible: !arrivedNewReplies }"
              floating
            />
            <!-- Tamaño ideal para moviles height: 220px width: 215px  -->
            <q-menu
              max-height="300px"
              max-width="500px"
              :offset="[-50, 15]"
              anchor="top left"
              self="bottom right"
              ref="repliesMenu"
              @show="arrivedNewReplies = false;"
            >
              <div class="q-pa-md">
                <div style="font-size: 19px;" class="q-mb-md">Sugerencias</div>
                <q-scroll-area :thumb-style="thumbStyle" class="scroll-replays">
                  <div class="row q-gutter-xs">
                    <q-btn
                      v-for="replay in quickReplies"
                      :key="replay.title"
                      unelevated
                      @click="sendStates(replay)"
                      rounded
                      color="green-6"
                      :label="replay.title"
                    />
                  </div>
                </q-scroll-area>
              </div>
            </q-menu>
          </q-btn>
        </template>
        <template v-slot:after>
          <q-btn
            round
            color="teal-8"
            @click="sendText()"
            icon="send"
            :size="$q.platform.is.mobile ? '13px' : '18px'"
            :disable="text.length < 1 || text.trim() < 1"
          />
        </template>
      </q-input>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "Chat",
  data() {
    return {
      text: "",
      botState: "Conectado",
      chats: [],
      quickReplies: [],
      arrivedNewReplies: false,
      incomingBotChats: [],
      inputIsDisable: false,
      user: "",
      asas: ""
    };
  },
  watch: {
    quickReplies: async function() {
      await this.putIncomingMessagesToChat();
    }
  },
  methods: {
    menuReplay(textButton) {},
    dynamicComponent(string) {
      return {
        data() {
          return {
            slide: "1"
          };
        },
        template: string
      };
    },
    async sendStates({ id, title }) {
      await this.$db.insertUserStatus(this.user[0].id, id);
      this.sendText(title);
    },
    async putIncomingMessagesToChat() {
      this.inputIsDisable = true;

      await this.asyncForEach(this.incomingBotChats, async chat => {
        this.autoscroll(2000);

        await this.waitTyping(200);

        this.chats.push({ id: this.$uuid.v1() });

        await this.waitTyping(1800);

        this.chats.pop();
        this.chats.push(chat);

        this.autoscroll(2000);
      });

      this.incomingBotChats = [];
      this.arrivedNewReplies = true;
      this.inputIsDisable = false;
    },
    async asyncForEach(array, callback) {
      for (let index = 0; index < array.length; index++) {
        await callback(array[index], index, array);
      }
    },
    waitTyping(ms) {
      return new Promise((r, j) => setTimeout(r, ms));
    },
    sendWebSocket(type, text = "") {
      this.$socket.send(
        JSON.stringify({
          type: type,
          text: text,
          user: { token: localStorage.getItem("token") },
          channel: "websocket"
        })
      );
    },
    sendText(text = null) {
      this.$refs.repliesMenu.hide();
      this.arrivedNewReplies = false;
      this.inputIsDisable = true;
      this.incomingBotChats = [];

      if (!text) {
        text = this.text
      } else {
        this.text = text
      }

      const checkTextSpacings = this.text.trim();

      if (checkTextSpacings.length > 0) {
        this.chats.push({
          id: this.$uuid.v1(),
          agent: "user",
          message: [this.text]
        });

        let messageData = {
          userId: this.user[0].id,
          message: text,
          sender: 1
        };
        this.$db.saveUserChat(messageData);

        this.sendWebSocket("message", this.text);
        this.autoscroll();
      }

      this.text = "";
    },
    autoscroll(delay = 300) {
      if (this.$refs.scrollChat) {
        this.$refs.scrollChat.setScrollPosition(
          document.querySelector(".scroll").scrollHeight,
          delay
        );
      }
    }
  },
  async mounted() {
    this.$q.loading.show();

    const token = localStorage.getItem("token");
    const userEmail = this.$auth.getEmailUserFromToken(token);
    this.user = await this.$db.getUserByMail(userEmail);

    this.autoscroll(0);
    this.$refs.badge.hidden = true;
    let chatHistory = await this.$db.getUserChat(this.user[0].id);
    this.chats = await chatHistory;

    const status = await this.$db.getStatus(1);
    const message = await this.$db.getBotMessage(1);

    if (message) {
      message.map(message => {
        let messageData = {
          userId: this.user[0].id,
          message: message.message,
          sender: 0
        };
        this.$db.saveUserChat(messageData);
        
        this.incomingBotChats.push({
          id: message.id,
          agent: "bot",
          message: [message.message],
        });
      });
    }
    this.quickReplies = status.reverse();

    this.$q.loading.hide();

    this.$options.sockets.onmessage = async function(event) {
      const dataText = JSON.parse(event.data);
      const messageObject = dataText.text;

      if (messageObject.messages[0] === "invalidRequest") {
        this.$auth.logOut();
        return;
      }

      let messageData = {
        userId: this.user[0].id,
        message: messageObject.messages,
        sender: 0
      };

      this.$db.saveUserChat(messageData);

      this.incomingBotChats.push({
        id: this.$uuid.v1(),
        agent: "bot",
        message: messageObject.messages,
      });
      
      if (messageObject.quickReplies) {
        await this.putIncomingMessagesToChat();
      }

    }.bind(this);

    this.$options.sockets.onopen = function(event) {
      this.botState = "Conetado";
      this.inputIsDisable = false;
    }.bind(this);

    this.$options.sockets.onclose = function(event) {
      this.botState = "Reconectando...";
    }.bind(this);

    this.$options.sockets.onerror = function(event) {
      this.botState = "Error de conexión";
    }.bind(this);
  },
  computed: {
    thumbStyle() {
      return {
        right: "2px",
        borderRadius: "5px",
        backgroundColor: "#B0BEC5",
        width: "5px",
        opacity: 0.75
      };
    }
  }
};
</script>

<style>
.chat-container {
  background-color: #eee;
  width: 50vw;
  border-radius: 10px;
}

.toolbar-header {
  background-color: #fff !important;
  border-radius: 10px 10px 0px 0px !important;
}

.chat-conversations {
  height: 70vh;
}

.chat-image {
  width: 30vw;
  border-radius: 5px;
}

.scroll-replays {
  height: 210px;
  width: 475px;
}

.custom-caption {
  text-align: center;
  padding: 23px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
}

.badge-replays {
  border-radius: 60px !important;
  padding: 5px !important;
  top: 6px;
  right: 10px;
  animation-name: parpadeo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive para la altura */
@media screen and (max-height: 815px) {
  .chat-conversations {
    height: 55vh;
  }

  @media screen and (max-height: 660px) {
    .chat-conversations {
      height: calc(100vh - 225px);
    }
  }
}

/* Responsive para tablets */
@media screen and (max-width: 1400px) {
  .chat-container {
    width: 80vw;
  }

  .chat-image {
    width: 45vw;
  }
}

/* Responsive replays */
@media screen and (max-width: 850px) {
  .scroll-replays {
    width: 180px;
  }
}

/* Responsive para dispositivos moviles */
@media screen and (max-width: 600px) {
  .toolbar-header {
    border-radius: 0 !important;
  }
  .chat-container {
    width: 100vw;
    border-radius: 0;
  }

  .chat-conversations {
    height: calc(100vh - 186px);
  }

  .conversation {
    padding-left: 25px;
    padding-right: 25px;
  }

  .chat-input {
    padding: 0.4em;
  }

  .chat-image {
    width: 70vw;
  }
}

.chat-conversations-mobile {
  height: calc(100vh - 170px);
}
</style>
