<template>
  <q-page-container>
    <q-page class="flex flex-center">
      <div class="column items-center login-background q-pa-xl">
        <h2 id="test" class="q-ma-md q-pt-none text-center">Iniciar sesión</h2>
        <div class="row q-mt-sm q-mb-lg full-width justify-between">
          <q-btn
            @click="facebookAuth"
            size="17px"
            stack
            class="col-5"
            color="primary"
            icon="ion-logo-facebook"
            label="Facebook"
          ></q-btn>
          <q-btn
            @click="googleAuth"
            size="17px"
            stack
            class="col-5"
            color="red-4"
            icon="ion-logo-google"
            label="Google"
          />
        </div>
        <q-input class="q-mb-lg q-mt-sm full-width" outlined v-model="username" label="Usuario"/>
        <q-input
          class="q-mb-lg full-width"
          outlined
          v-model="password"
          type="password"
          label="Contraseña"
        />
        <q-btn
          class="full-width"
          color="secondary"
          rounded
          size="16px"
          @click="login"
          label="Iniciar sesión"
        ></q-btn>
        <p class="q-mt-lg text-grey-7 text-center">
          Aun no tienes cuenta?
          <router-link to="register" class="text-blue-grey-10 btn-register">Registrate ya!</router-link>
        </p>
      </div>
    </q-page>
  </q-page-container>
</template>

<script>
import axios from "axios";
const CryptoJS = require("crypto-js");

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      decoded: "",
      ae: ""
    };
  },
  mounted() {
    let token = this.$router.currentRoute.query.token;
    if (!token) {
      token = localStorage.getItem("token");
    }

    if (token) this.checkToken(token);
  },
  methods: {
    async checkUser(userEmail) {
      return await this.$db.checkSocialUser(userEmail);
    },

    async createUser(profile) {
      let userData = {
        fullname: profile.displayName,
        email: profile.emails[0].value,
        username: profile.emails[0].value,
        password: null
      };
      this.$db.registerUser(userData);
    },

    async checkToken(token) {
      const response = await axios.post(
        `${process.env.SERVER_API}/auth/verify`,
        null,
        {
          headers: {
            Authorization: `Bearer ${token}`
          }
        }
      );

      let result = await response.data;

      if (result.success) {
        const decoded = this.$auth.getInfoUserFromToken(token);
        const userEmail = decoded.profile.emails[0].value;

        if (decoded.profile.provider != null) {
          let hasAccount = await this.checkUser(userEmail);

          if (hasAccount == "false") {
            await this.createUser(decoded.profile);
            localStorage.setItem("token", token);
            window.location.href = `/#/panel/chat`;
          }
        }

        let user = await this.$db.getUserByMail(userEmail);
        this.ae = user;

        if (user[0].enabled == 0) {
          //user is disabled
          localStorage.removeItem("token");
          window.location.href = `/#/`;
        } else {
          localStorage.setItem("token", token);
          if (user[0].roleId == 2) {
            //user is admin
            window.location.href = `/#/auditoria`;
          } else {
            window.location.href = `/#/panel/chat`;
          } 
        }
      } else {
        //the token is incorrect
        this.$q.notify("Usuario o contrasenya incorrectos");
        localStorage.removeItem("token");
      }
      
      this.$q.loading.hide();
    },
    async login() {
      this.$q.loading.show();

      const token = await this.$db.checkUser(
        this.username,
        CryptoJS.MD5(this.password).toString()
      );
      await this.checkToken(token);
    },
    googleAuth() {
      window.location.href = `${process.env.SERVER_API}/auth/google`;
    },
    facebookAuth() {
      window.location.href = `${process.env.SERVER_API}/auth/facebook`;
    }
  }
};
</script>

<style scoped>
main {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.login-background {
  border-radius: 20px;
  background: white !important;
}

.btn-register {
  text-decoration-line: underline;
  cursor: pointer;
}

.btn-register:hover {
  color: #303f9f !important;
}

@media (max-width: 545px) {
  main {
    background: white;
  }
}

@media (max-width: 465px) {
  h2 {
    font-size: 11vw;
  }
}

@media (max-width: 335px) {
  h2 {
    font-size: 10vw;
  }
}
</style>


