<template>
  <q-page class="flex flex-center main">
    <div class="container">
      <q-toolbar class="toolbar-header q-py-xs">
        <q-toolbar-title style="min-height: 48px; padding: 11px 16px;">Mi Perfil</q-toolbar-title>
        <q-btn flat round color="grey" @click="this.$auth.logOut" icon="logout"/>
      </q-toolbar>

      <q-scroll-area :thumb-style="thumbStyle" class="profile-container">
        <div class="column q-pa-lg">
          <q-item class="q-pb-md q-pt-none q-px-none">
            <q-item-section side>
              <q-avatar size="100px" color="primary" text-color="white" icon="fas fa-user"></q-avatar>
            </q-item-section>
            <q-item-section>
              <q-item-label  style="font-size: 25px;">{{user.fullName}}</q-item-label>
              <q-item-label caption style="font-size: 18px;">{{user.loginName}}</q-item-label>
            </q-item-section>
          </q-item>

          <q-input
            class="q-mb-xs q-mt-sm full-width"
            outlined
            v-model="userData.newName"
            label="Nombre de usuario"
            @blur="$v.userData.newName.$touch"
            :error="$v.userData.newName.$error"
          />
          <q-input 
            class="q-mb-xs full-width" 
            outlined 
            v-model="userData.newPassword" 
            type="password" 
            label="Contraseña"
            @blur="$v.userData.newPassword.$touch"
            :error="$v.userData.newPassword.$error" 
          />
          <q-input
            class="q-mb-xs full-width"
            outlined
            v-model="userData.repeatNewPassword"     
            label="Repetir contraseña"
            type="password"
            @blur="$v.userData.repeatNewPassword.$touch"
            :error="$v.userData.repeatNewPassword.$error" 
          />
          
          <q-btn class="full-width q-mb-sm" @click="updateUser" color="secondary" rounded label="Guardar" ></q-btn>
          <q-btn-group rounded class="full-width">
            <q-btn
              type="a"
              href="https://docs.google.com/forms/d/1GBnjbD0UKdVhkbpYlxU1Da72Nze8jwWIo1LAD93Xi18"
              target="blank" class="full-width" 
              color="light-blue-6" 
              rounded label="Valoranos"
            />
            <q-btn
              class="full-width"
              color="pink-9"
              rounded
              @click="dialogRemoveUser = true"
              label="Borrar cuenta"
            />
          </q-btn-group>
        </div>
      </q-scroll-area>
    </div>
    <q-dialog v-model="dialogRemoveUser" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <div class="text-h6">Aviso</div>
        </q-card-section>
        <q-card-section>Seguro que quieres eliminar de forma permanente tu cuenta?</q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup/>
          <q-btn flat label="Eliminar" color="negative" @click="disableUser" v-close-popup/>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { required, sameAs, minLength, email } from 'vuelidate/lib/validators'
import axios from "axios";
import jwt_decode from 'jwt-decode';

export default {
  name: "Profile",
  data() {
    return {
      userData: {
         newName: "",
         oldName: "",
         newPassword: "",
         repeatNewPassword: ""
      },
      user: "",
      dialogRemoveUser: false
    };
  },
  methods: {
    async updateUser() {
      this.$db.updateUser(this.userData)
    },
    async disableUser() {
      this.$db.disableUser(this.user.id)
      this.$auth.logOut();
    },
    async getUser(userEmail) {
      let data = await this.$db.getUserByMail(userEmail)
      return data[0];
    }
  },
  async mounted() {
    this.$q.loading.show();

    let token = localStorage.getItem("token");
    
    const response = await axios.post(`${process.env.SERVER_API}/auth/verify`,null, {
      headers: {
        'Authorization': `Bearer ${token}`
      },
    });

    let result = await response.data

    if (result.success) {
      let decoded = jwt_decode(token);
      let userEmail = decoded.profile.emails[0].value;
      this.user = await this.getUser(userEmail);
      this.userData.oldName = this.user.loginName;
    } else {
      this.$auth.logOut();
    }
    
    this.$q.loading.hide();
  },
  validations: {
    userData: {
      newName: {
        required
      },
      newPassword: {
        required,
        minLength: minLength(8)
      },
      repeatNewPassword: {
        sameAsPassword: sameAs('newPassword')
      }
    }
  },
  computed: {
    thumbStyle() {
      return {
        width: "1px",
        opacity: 0
      };
    }
  }
};
</script>

<style scoped>
.container {
  background-color: #eee;
  width: 50vw;
  border-radius: 10px;
}

.profile-container {
  height: 500px;
}

.toolbar-header {
  background-color: #fff !important;
  border-radius: 10px 10px 0px 0px !important;
}

@media screen and (max-height: 600px) {
  .profile-container {
    height: 70vh;
  }
}

/* Responsive para tablets */
@media screen and (max-width: 1400px) {
  .container {
    width: 80vw;
  }
}

/* Responsive para dispositivos moviles */
@media screen and (max-width: 600px) {
  .container {
    width: 100vw;
    border-radius: 0;
  }

  .toolbar-header {
    border-radius: 0 !important;
  }

  .main {
    display: block;
    background-color: #eee;
  }

  .profile-container {
    height: calc(100vh - 119px);
  }
}
</style>
