<template>
  <q-page-container>
    <q-page>
      <div class="flex flex-center" style="height: 100vh;">
        <div class="row justify-center items-center">
          <div class="column items-center login-background q-px-xl q-py-md">
            <h2 class="q-ma-md q-pt-none q-mb-lg text-center">Crear cuenta</h2>
            <q-input
              class="q-mb-xs full-width"
              outlined
              v-model="userData.fullname"
              label="Nombre completo"
              @blur="$v.userData.fullname.$touch"
              :error="$v.userData.fullname.$error"
            />
            <q-input
              class="q-mb-xs full-width"
              outlined
              v-model="userData.email"
              label="Correo electronico"
              @blur="$v.userData.email.$touch"
              :error="$v.userData.email.$error"
            />
            <q-input
              class="q-mb-xs full-width"
              outlined
              v-model="userData.username"
              label="Nombre de usuario"
              @blur="$v.userData.username.$touch"
              :error="$v.userData.username.$error"
            />
            <q-input
              class="q-mb-xs full-width"
              outlined
              v-model="userData.password"
              type="password"
              label="Contraseña"
              @blur="$v.userData.password.$touch"
              :error="$v.userData.password.$error"
            />
            <q-input
              class="q-mb-xs full-width"
              outlined
              v-model="userData.repeatPassword"
              label="Repetir contraseña"
              type="password"
              @blur="$v.userData.repeatPassword.$touch"
              :error="$v.userData.repeatPassword.$error"
            />
            <div class="row full-width q-mb-md items-end justify-between">
              <q-btn
                class="col-8"
                color="secondary"
                rounded
                size="16px"
                label="Registrarse"
                @click="registerUser"
              ></q-btn>
              <q-btn to="login" class="col-3" rounded size="16px" icon="fas fa-undo" color="grey-6"></q-btn>
            </div>
          </div>
        </div>
      </div>
    </q-page>
  </q-page-container>
</template>

<style>
</style>

<script>
import { required, sameAs, minLength, email } from "vuelidate/lib/validators";

export default {
  name: "Register",
  data() {
    return {
      userData: {
        fullname: "",
        email: "",
        username: "",
        password: "",
        repeatPassword: ""
      },
      disabled: false
    };
  },
  validations: {
    userData: {
      fullname: {
        required
      },
      email: {
        required,
        email
      },
      username: {
        required
      },
      password: {
        required,
        minLength: minLength(8)
      },
      repeatPassword: {
        sameAsPassword: sameAs("password")
      }
    }
  },
  methods: {
    async registerUser() {
      this.$v.$touch();

      if (this.$v.$invalid) {
        this.$q.notify("Los campos no son validos");
      } else {
        this.$db.registerUser(this.userData);
        this.$q.notify("Te has registrado correctamente");
      }
    }
  }
};
</script>

<style scoped>
main {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.login-background {
  border-radius: 20px;
  background: white !important;
}

.btn-back:hover {
  color: #303f9f !important;
}

@media (max-width: 545px) {
  main {
    background: white;
  }
}

@media (max-width: 465px) {
  h2 {
    font-size: 11vw;
  }
}

@media (max-width: 400px) {
  h2 {
    margin-bottom: 7px !important;
  }
}

@media (max-width: 335px) {
  h2 {
    font-size: 10vw;
  }
}
</style>


