<template>
  <q-page class="flex flex-center">
    <div class="container">
      <q-toolbar class="toolbar-header q-py-xs">
        <q-toolbar-title style="min-height: 48px; padding: 11px 16px;">Seguimiento de animo</q-toolbar-title>
      </q-toolbar>
      <div class="items-center q-py-md q-pr-md q-pl-sm row">
        <div class="col-1 column justify-between items-center y-icons">
          <q-icon size="40px" color="grey" name="fas fa-laugh-beam"/>
          <q-icon size="40px" color="grey" name="fas fa-smile"/>
          <q-icon size="40px" color="grey" name="fas fa-meh"/>
          <q-icon size="40px" color="grey" name="fas fa-sad-tear"/>
        </div>
        <apex-chart class="col-11" height="600px" :options="chartOptions" :series="series"/>
      </div>
    </div>
  </q-page>
</template>

<script>
import ApexChart from "vue-apexcharts";
import moment from "moment";

moment.locale("es");

export default {
  name: "Tracing",
  components: {
    ApexChart
  },
  methods: {
    getState(state) {
      const states = new Map();

      states.set(9, "Feliz");
      states.set(8, "Alegre");
      states.set(7, "Optimista");
      states.set(6, "Bien");
      states.set(5, "Regular");
      states.set(4, "Indignado");
      states.set(3, "Enfadado");
      states.set(2, "Triste");
      states.set(1, "Deprimido");

      return states.get(state);
    }
  },
  data() {
    return {
      series: [
        {
          data: []
        }
      ],
      chartOptions: {
        chart: {
          type: "line",
          defaultLocale: "es",
          locales: [
            {
              name: "es",
              options: {
                months: [
                  "Enero",
                  "Febrero",
                  "Marzo",
                  "Abril",
                  "Mayo",
                  "Junio",
                  "Julio",
                  "Agosto",
                  "Septiembre",
                  "Octubre",
                  "Noviembre",
                  "Diciembre"
                ],
                shortMonths: [
                  "Ene",
                  "Feb",
                  "Mar",
                  "Abr",
                  "May",
                  "Jun",
                  "Jul",
                  "Ago",
                  "Sep",
                  "Oct",
                  "Nov",
                  "Dic"
                ],
                days: [
                  "Lunes",
                  "Martes",
                  "Miércoles",
                  "Jueves",
                  "Viernes",
                  "Sábado",
                  "Domingo"
                ],
                shortDays: ["Lun", "Mar", "Mie", "Jue", "Vie", "Sab", "Dom"]
              }
            }
          ],
          toolbar: {
            show: true,
            tools: {
              download: false,
              selection: false,
              zoom: false,
              zoomin: false,
              zoomout: false,
              pan: false,
              reset: false
            },
            autoSelected: "zoom"
          },
          shadow: {
            enabled: false,
            color: "#bbb",
            top: 3,
            left: 2,
            blur: 3,
            opacity: 1
          }
        },
        stroke: {
          width: 7,
          curve: "smooth"
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "dark",
            gradientToColors: ["#FDD835"],
            shadeIntensity: 0,
            type: "vertical",
            opacityFrom: 1,
            opacityTo: 1,
            colorStops: [
              {
                offset: 30,
                color: "#FDD835",
                opacity: 1
              },
              {
                offset: 100,
                color: "#008ffb",
                opacity: 1
              }
            ]
          }
        },
        xaxis: {
          type: "datetime",
          tooltip: {
            enabled: false
          },
          labels: {
            datetimeFormatter: {
              year: "yyyy",
              month: "MMMM",
              day: "dd MMM",
              hour: "HH:mm"
            }
          }
        },
        yaxis: {
          show: false,
          min: 1,
          max: 9
        },
        responsive: [
          {
            breakpoint: 1400,
            options: {
              chart: {
                height: "500px"
              }
            }
          },
          {
            breakpoint: 950,
            options: {
              chart: {
                height: "400px"
              }
            }
          },
          {
            breakpoint: 800,
            options: {
              chart: {
                height: "350px"
              },
              title: {
                style: {
                  fontSize: "20px"
                }
              }
            }
          },
          {
            breakpoint: 600,
            options: {
              chart: {
                height: "300px"
              },
              title: {
                style: {
                  fontSize: "18px"
                }
              }
            }
          }
        ],
        tooltip: {
          enabled: true,
          shared: true,
          x: {
            show: true,
            format: "dd MMM HH:mm"
          },
          custom: function({ series, seriesIndex, dataPointIndex, w }) {
            const dataTimesX = w.globals.seriesX;

            const html = `<q-card>
                              <q-card-section>
                                <div style="font-size: 17px; background-color: #bbdefb;" class="q-pa-sm">
                                  ${moment(
                                    dataTimesX[seriesIndex][dataPointIndex],
                                    "x"
                                  ).format("DD MMM YYYY - HH:mm")}
                                </div>
                                <div class="q-py-xs text-center" style="font-size: 18px;">
                                    ${this.getState(
                                      series[seriesIndex][dataPointIndex]
                                    )}
                                </div>
                              </q-card-section>
                          </q-card>`;

            return html;
          }.bind(this)
        }
      }
    };
  },
  async mounted() {
    this.$q.loading.show();

    const email = this.$auth.getEmailUserFromToken(
      localStorage.getItem("token")
    );
    const user = await this.$db.getUserByMail(email);
    
    this.series[0].data = await this.$db.getUserStatus(user[0].id);
    
    this.$q.loading.hide();
  }
};
</script>

<style scoped>
.container {
  background-color: #eee;
  border-radius: 10px;
  width: 50vw;
}

.toolbar-header {
  background-color: #fff !important;
  border-radius: 10px 10px 0px 0px !important;
}

.y-icons {
  height: 560px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1400px) {
  .y-icons {
    height: 460px !important;
  }

  .container {
    width: 80vw;
  }
}

@media screen and (max-width: 950px) {
  .y-icons {
    height: 360px !important;
  }
}

@media screen and (max-width: 800px) {
  .y-icons {
    height: 310px !important;
  }

  .container {
    width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .y-icons {
    height: 260px !important;
  }

  .container {
    width: 100vw;
    height: calc(100vh - 57px);
    border-radius: 0;
  }

  .toolbar-header {
    border-radius: 0 !important;
  }

  i {
    font-size: 27px !important;
  }
}
</style>
