<template>
  <q-page-container class="flex flex-center">
    <q-page class="container">
      <q-table
        title="Entrenar IA"
        class="q-mt-lg"
        :data="data"
        :columns="columns"
        row-key="word"
        selection="multiple"
        :selected.sync="selected"
        :selected-rows-label="getSelectedString"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td>
              <q-checkbox class="q-ml-md" dense v-model="props.selected"/>
            </q-td>
            <q-td key="desc" :props="props">{{ props.row.word }}</q-td>
            <q-td key="counts" :props="props">{{ props.row.timesFound }}</q-td>
            <q-td key="lastTimes" :props="props">{{ props.row.lastTime | dateFormat }}</q-td>

            <q-td key="intents" :props="props">
              {{ props.row.intent }}
              <q-popup-edit v-model="props.row.intent" buttons>
                <q-select
                  filled
                  v-model="props.row.intent"
                  use-input
                  hide-selected
                  fill-input
                  input-debounce="0"
                  :options="options"
                  @filter="filterFn"
                  dense
                  clearable
                  autofocus
                >
                  <template v-slot:no-option>
                    <q-item>
                      <q-item-section class="text-grey">Sin resultados</q-item-section>
                    </q-item>
                  </template>
                </q-select>
              </q-popup-edit>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <q-btn
        :hidden="this.selected.length != 0"
        size="16px"
        style="background: goldenrod; color: white"
        class="q-mt-md"
        @click="train"
        label="Entrenar"
      />
      <q-btn
        :hidden="this.selected.length == 0"
        size="16px"
        color="red-9"
        class="q-mt-md"
        @click="removeSelected"
        label="Eliminar"
      />
    </q-page>
  </q-page-container>
</template>

<script>
import moment from "moment";
import axios from "axios";

moment.locale("es");

let allOptions = [];

export default {
  name: "TrainerIA",
  data() {
    return {
      options: allOptions,
      selected: [],
      data: [],
      columns: [
        {
          name: "desc",
          align: "left",
          label: "Palabras desconocidas",
          field: "word"
        },
        {
          name: "counts",
          align: "left",
          label: "Nº Veces",
          field: "timesFound"
        },
        {
          name: "lastTimes",
          align: "center",
          label: "Ultima vez",
          field: "lastTime"
        },
        {
          name: "intents",
          align: "center",
          label: "Intenciones",
          field: "intent"
        }
      ],
      ae: ""
    };
  },
  filters: {
    dateFormat: function(value) {
      if (!value) return "";
      return moment(value).format("YYYY-MM-DD HH:mm:ss");
    }
  },
  async mounted() {
    this.$q.loading.show();

    let token = localStorage.getItem("token");
    
    const response = await axios.post(`${process.env.SERVER_API}/auth/verify`,null, {
      headers: {
        'Authorization': `Bearer ${token}`
      },
    });

    let result = await response.data

    if (result.success) {
      const token = localStorage.getItem('token');
      const userEmail = this.$auth.getEmailUserFromToken(token);
      let user = await this.$db.getUserByMail(userEmail);

      if (user[0].roleId != 2) {
        window.location.href = `/#/panel/chat`
      }
    } else {
      this.$auth.logOut();
    }

    this.updateTable();
    allOptions = await this.$db.getIntents();

    this.$q.loading.hide();
  },
  methods: {
    getSelectedString() {
      return this.selected.length === 0
        ? ""
        : `${this.selected.length} record${
            this.selected.length > 1 ? "s" : ""
          } selected of ${this.data.length}`;
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLowerCase();
        this.options = allOptions.filter(
          v => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async updateTable() {
      this.data = await this.$db.getUnknownWords();
    },
    async removeSelected() {
      this.$q.loading.show();

      const allRemovePromises = [];

      this.selected.map(async ({ id }) => {
        allRemovePromises.push(this.$db.removeUnknownWords(id));
      });

      if (allRemovePromises.length) {
        try {
          await Promise.all(allRemovePromises);

          await this.updateTable();
          this.selected = [];

          this.$q.notify({
            message: "Eliminado/s corretamente",
            color: "green-7"
          });
        } catch (e) {
          this.$q.notify({ message: `Error durante su eliminación: ${e}` });
        }
      }
      this.$q.loading.hide();
    },
    async train() {
      this.$q.loading.show();
      const allInsertPromises = [];
      const allRemovePromises = [];

      this.data.map(async ({ id, word, intent }) => {
        if (intent) {
          allInsertPromises.push(this.$db.insertKnownWords(word, intent));
          allRemovePromises.push(this.$db.removeUnknownWords(id));
        }
      });

      if (allInsertPromises.length) {
        try {
          await Promise.all(allInsertPromises);
          await Promise.all(allRemovePromises);

          await this.$ia.train();
          await this.updateTable();

          this.$q.notify({
            message: "Entrenamiento terminado",
            color: "green-6"
          });
        } catch (e) {
          this.$q.notify({ message: `Error durante el entrenamiento: ${e}` });
        }
      } else {
        this.$q.notify({
          message: "No hay palabras con intenciones selecionadas",
          color: "warning"
        });
      }
      this.$q.loading.hide();
    }
  }
};
</script>

<style scoped>
.container {
  width: 50vw;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }
}
</style>


