<template>
  <q-layout>
       <q-header elevated>
        <q-toolbar>
          <q-avatar icon="far fa-chart-bar">
          </q-avatar>
          <q-toolbar-title>HelperBot Trainer</q-toolbar-title>
          <q-btn flat round dense icon="logout" @click="this.$auth.logOut"/>
        </q-toolbar>
      </q-header>
      <router-view/>
  </q-layout>
</template>

<script>
export default {
  name: 'AdminLayout',
};
</script>
