<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container>
      <router-view/>
    </q-page-container>
    <q-footer bordered class="bg-white">
      <q-tabs
        no-caps
        align="justify"
        :dense="windowWidth < 600 || windowHeight < 660"
        switch-indicator
        indicator-color="yellow"
        class="bg-light-green-8 text-white"
        v-model="tab"
      >
        <q-route-tab to="/panel/chat" name="chat" icon="fas fa-comments" label="Chat" exact/>
        <q-route-tab to="/panel/seguimiento" name="seguimiento" icon="far fa-chart-bar" label="Seguimiento" exact/>
        <q-route-tab to="/panel/perfil" name="perfil" icon="person" label="Perfil" exact/>
      </q-tabs>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: "MainLayout",
  data() {
    return {
      windowWidth: window.innerWidth,
      windowHeight: window.innerHeight,
      tab: "chat"
    };
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener("resize", () => {
        this.windowHeight = window.innerHeight;
        this.windowWidth = window.innerWidth;
      });
    });
  }
};
</script>

<style>
.q-layout {
  background-image: url("./../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.general-container {
  background-color: #fff;
  width: 50vw;
  border-radius: 10px;
}

/* Responsive para tablets */
@media screen and (max-width: 1400px) {
  .general-container {
    width: 80vw;
  }
}

/* Responsive para dispositivos moviles */
@media screen and (max-width: 600px) {
  .general-container {
    width: 100vw;
    border-radius: 0;
  }
}
</style>
